.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 90%;
  width: 600px;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

#modal-exit-img{
  margin-right: 30px;
}

#modal-exit-img:hover{
  fill: lightgray;
  cursor: pointer;
  transition: fill 0.2s linear;
}

#modal-header{
  display: flex;
  align-items: center;
  padding: 8px;
}

#modal-form{
  flex-grow: 1;
  padding: 0 80px;
  overflow-y: auto;
}

#modal-form > div:nth-child(1){
  font-size: 28px;
  font-weight: bold;
}

#modal-form > div:nth-child(2){
  margin-top: 30px;
}

#modal-form > div:nth-child(3){
  margin-top: 30px;
}

#modal-form > div:nth-child(4){
  margin-top: 30px;
}

#modal-form > div:nth-child(5){
  margin-top: 30px;
}

#modal-footer{
  border-top: 1px solid lightgray;
  box-shadow: 0 -2px 10px -5px lightgray;
  display: grid;
  place-items: center;
  padding: 25px 80px;
}

#modal-footer > button:hover{
  background-color: rgb(26,140,216);
}

.modal-submit{
  height: 50px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
}

@media screen and (max-height: 500px) {
  .modal{
    height: 400px;
  }
}