#main{
  display: grid;
  min-height: inherit;
}

#img-section{
  position: relative;
}

#img-section > img:nth-child(1){
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align:top;
}

#img-section > img:nth-child(2){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#menu-section{
  padding: 30px;
}

/* Happening now */
#menu-section > div:nth-child(2){
  margin-top: 60px;
  font-size: 60px;
  font-weight: bold;
  white-space: nowrap;
}

/* Join Twitter today */
#menu-section > div:nth-child(3){
  margin-top: 60px;
  font-size: 30px;
  font-weight: bold;
}

/* Sign up section */
#menu-section > div:nth-child(4){
  margin-top: 30px;
  width: 300px;
}

#menu-section > div:nth-child(4) > button{
  width: inherit;
  padding: 10px;
  background-color: rgb(29,155,240);
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

#menu-section > div:nth-child(4) > button:hover{
  background-color: rgb(26,140,216);
}

#menu-section > div:nth-child(4) a{
  text-decoration: none;
  cursor: pointer;
}

#menu-section > div:nth-child(4) > p{
  font-size: 10px;
}

#menu-section > div:nth-child(4) > p > a{
  font-size: 10px;
  color: rgb(29,155,240);
}

/* Already have an account? */
#menu-section > div:nth-child(5){
  margin-top: 30px;
  font-size: 15px;
  font-weight: bold;
}

/* Log in */
#menu-section > button:nth-child(6){
  margin-top: 20px;
  width: 300px;
  display: block;
  padding: 10px;
  background-color: white;
  color: rgb(29,155,240);
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

#menu-section > button:nth-child(6):hover{
  background-color: rgb(232,245,253);
}

@media screen and (min-width: 1000px) {
  #main{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'a b';
  }
  #img-section{
    grid-area: a;
  }
  #menu-section{
    grid-area: b;
  }
}

@media screen and (max-width: 1000px){
  #main{
    grid-template-rows: 1fr 300px;
    grid-template-areas: 'a' 'b';
  }
  #menu-section{
    grid-area: a;
  }
  #img-section{
    grid-area: b;
  }
}

@media screen and (max-width: 600px){
  #menu-section > div:nth-child(2){
    font-size: 35px;
  }
  #menu-section > div:nth-child(3){
    font-size: 20px;
  }
  .modal{
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}