<!DOCTYPE html>
<html>
  <head>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div id="loc">
      <div>
        <img src="big-bg.png">
        <img src="big-white-logo.svg">
      </div>
      <div>
        <img src="small-blue-logo.svg" width="45" height="57">
        <div id="header-1">Happening now</div>
        <div id="header-2">Join Twitter today.</div>
        <div>
          <button onclick="showSignUpPup()">Sign up</button>
          <p>By signing up, you agree to the <a>Terms of Service</a> and
          <a>Privacy Policy</a>, including <a>Cookie Use</a>.</p>
        </div>
        <div id="header-3">Already have an account?</div>
        <button onclick="showSignInPup()">Sign in</button>
      </div>
    </div>
    <div id="grayout-div"></div>
    <div id="signup-pup" class="pup">
      <div id="pup-header">
        <svg id="exit-pup-img" width="36" height="36" fill="transparent">
          <circle cx="18" cy="18" r="17"/>
          <line x1="12" y1="12" x2="24" y2="24" stroke="black" stroke-width="1.75"/>
          <line x1="24" y1="12" x2="12" y2="24" stroke="black" stroke-width="1.75"/>
        </svg>
      </div>
      <form id="pup-form" action="/signup" method="post">
        <div id="step-1">
          <div>Create your account</div>
          <div class="dynamic-text-input">
            <input name="name" />
            <label>Name</label>
          </div>
          <div class="dynamic-text-input">
            <input name="password" type="password" />
            <label>Password</label>
          </div>
          <div class="dynamic-text-input">
            <input name="email" />
            <label>Email</label>
          </div>
          <div id="dob-section">
            <h5>Date of birth</h5>
            <p>
              This will not be shown publicly. Confirm your own age, even if
              this account is for a business, a pet, or something else.
            </p>
            <div id="dob-select">
              <div class="dynamic-select">
                <select id="month-select" name="dob-month" required></select>
                <label>Month</label>
              </div>
              <div class="dynamic-select">
                <select id="day-select" name="dob-day" required></select>
                <label>Day</label>
              </div>
              <div class="dynamic-select">
                <select id="year-select" name="dob-year" required></select>
                <label>Year</label>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div id="pup-footer">
        <input type="submit" form="pup-form" value="Sign up"/>
      </div>
    </div>
    <div id="signin-pup" class="pup">
      <h1>Sign in form</h1>
    </div>
    <script src="script.js"></script>
  </body>
</html>