body{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

#root{
  min-height: inherit;
}

#modal-root{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

@media screen and (min-width: 1000px) {
  #loc{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'a b';
  }
  #img-div{
    grid-area: a;
  }
  #form-div{
    grid-area: b;
  }
}

@media screen and (max-width: 1000px){
  #loc{
    grid-template-rows: 1fr 300px;
    grid-template-areas: 'a' 'b';
  }
  #form-div{
    grid-area: a;
  }
  #img-div{
    grid-area: b;
  }
}

@media screen and (min-width: 600px){
  #form-div > p{
    font-size: 50px;
  }
}

@media screen and (max-width: 600px){
  #header-1{
    font-size: 35px;
  }
  #header-2{
    font-size: 20px;
  }
  .modal{
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}

@media screen and (max-height: 500px) {
  .modal{
    height: 400px;
  }
}